html, body {
	margin: 0;
	padding: 0;
	max-height: 100%;
	overflow: hidden;
}
#optionsbar {
	width:  3%;
	height: 100%;
	background-color: skyblue;
	position: absolute;
}
.sidebar-option {
	max-width: 100%;
  	height: auto;
	margin-top: 60%;
	position: relative;
	opacity: 0.9;
	cursor: pointer;
	width: 80%; 
	margin-left: 10%;
}
#contentbar {
	margin-left: 3%;
	width: 20%;
	height: 100%;
	position: absolute;
	background-color: aliceblue;
	border: thick;
	border-color: black;
}
#editor {
	margin-left: 23%;
	margin-bottom: 0;
	height: 100%;
	width: 77%;
	background-color: azure;
}
::-webkit-scrollbar {
  width: 1vw;
}
#add {
	margin-left: 40%;
	width: auto;
	height: auto;
	border: none;
	background-color: transparent;
	cursor: pointer;
	margin-top: 4%;
	margin-bottom: 4%;
	font-size: auto;
}